/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "be.irail.betrains.playbook.view.components.controls.*";

/* --------------------------------------------------------------------

   Embedded fonts

 --------------------------------------------------------------------

/*-------------- PlaybookFont --------------*/
/* Regular */
/*@font-face {
	src: local("Helvetica");
	antiAliasType:"normal";
	fontFamily: PlaybookFont;
	fontStyle: normal;
	fontWeight: normal;
	embed-as-cff:true;
	unicodeRange:	U+0000-U+FFFF; 
}

@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: normal;
	fontWeight: bold;
	embed-as-cff:true; 
	unicodeRange:	U+0000-U+FFFF; 
}

@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: italic;
	fontWeight: normal;
	embed-as-cff:true;
	unicodeRange: U+0000-U+FFFF; 
}
@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: italic;
	fontWeight: bold;
	embed-as-cff:true;
	antiAliasType:"normal";
	unicodeRange: U+0000-U+FFFF; 
}*/
/*--------------------------------------------------------------------
  
   		Application Components
  
  -------------------------------------------------------------------*/

global{
	focus-thickness:0;
	modal-transparency-blur:2;
	modal-transparency-color:#060606;
}

s|List{
	content-background-alpha:0;
	border-visible:false;
}

controls|Spinner{
	tick-color:#1F1F1F;
}

s|VScrollBar{
	skinClass: ClassReference("be.irail.betrains.playbook.view.components.skins.BeTrainsVScrollbarSkin");
	fixedThumbSize:false;
	slide-duration:400;
	liveDragging:true;
	smoothScrolling:true;
}


s|Label {
	font-size:16;
}

.infoLabel{
	color:#2B281E;
	font-size:16;
	fontStyle:italic;
	vertical-align:middle;
}

.noneLabel{
	text-align:center;
	vertical-align:middle;
	font-size:40;
	color:#1F1F1F; 
	fontWeight:bold;
}
