/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

/* --------------------------------------------------------------------

   Embedded fonts

 --------------------------------------------------------------------

/*-------------- PlaybookFont --------------*/
/* Regular */
/*@font-face {
	src: local("Helvetica");
	antiAliasType:"normal";
	fontFamily: PlaybookFont;
	fontStyle: normal;
	fontWeight: normal;
	embed-as-cff:true;
	unicodeRange:	U+0000-U+FFFF; 
}

@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: normal;
	fontWeight: bold;
	embed-as-cff:true; 
	unicodeRange:	U+0000-U+FFFF; 
}

@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: italic;
	fontWeight: normal;
	embed-as-cff:true;
	unicodeRange: U+0000-U+FFFF; 
}
@font-face {
	src: local("Helvetica");
	fontFamily: PlaybookFont;
	fontStyle: italic;
	fontWeight: bold;
	embed-as-cff:true;
	antiAliasType:"normal";
	unicodeRange: U+0000-U+FFFF; 
}*/
/*--------------------------------------------------------------------
  
   		Application Components
  
  -------------------------------------------------------------------*/

global{
	focus-thickness:0;
	modal-transparency-blur:0;
	modal-transparency-color:#ffFFff;
}

s|WindowedApplication{
}

/*s|TextArea{
	focus-alpha:0;
	content-background-alpha:0;
	border-visible:false;
}*/

s|Label {
}

s|RichEditableText{
}

.infoLabel{
	color:#2B281E;
	fontStyle:italic;
	vertical-align:middle;
}
